{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
</head>
<body>
    <h1> This is my home page</h1>
    <img src="{% static 'images/yousuf.jpg' %}" alt="" width=400>
    <div class="container pt-5">
        <h2>Employee list</h2>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">id</th>
                    <th scope ='col'>Full name</th>
                    <th scope='col'>Designation</th>
                    <th scope='col'>Phone-Number</th>
                </tr>
            </thead>
            <tbody>
                {% for i in employees %}
                <tr>
                    <th>{{i.id}}</th>
                    <td><a href="{% url 'employee_detail' i.id %}">{{ i.first_name }} {{ i.last_name }}</a></td>
                    <td>{{ i.designation }}</td>
                    <td>{{ i.phone_number }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</head>
</html>